
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vue</title>
</head>
<body>
    <div> 
          @ViewData["nom"] est dans Vue.cshtml;
    </div>
</body>
</html>
